<div class="course-hero">
  <h1 class="course-hero--title">Learn something today</h1>
    <br />
  <h4 class="course-hero--count"><i class="glyphicon glyphicon-blackboard black"></i> <%= @courses.count %> available courses</h4>

</div>

<div class="course-container">

  <div class="course-listing ">

    <% @courses.each do |course| %>
      <div class="course-listing--wrapper">
      <div class="course-listing--box">
        <div class="course-listing--titlebox">
          <h2>
            <%= link_to course.title, course_path(course), :class => "course-listing--title" %>
          </h2>
          <br />
          <p><%= course.description %></p>
        </div>

        <div>
            <%= link_to course_path(course), {:class => "course-listing--link"} do %>
            <p><i class="glyphicon glyphicon-arrow-right"></i> View the full course </p>
         </div>
        </div>
        <% end %>
      </div> 

    <% end %>
    </div>

  </div>
  </div>
